body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: deeppink;
}


#cabezera{
    color :burlywood;
    text-align: center;
    padding: 2px;
    background-color: blanchedalmond;
}