body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: deeppink;
}

#container{


}

#post{
    
}

#Classnomas{
    
}

#cabezera{
    color :burlywood;

}

#footer{
    background-color: blueviolet;
    color: aquamarine;
    text-align: center;
}