body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: deeppink;
}

#container{


}

#post{
    
}

#Classnomas{
    
}

#cabezera{
    color :burlywood;
    text-align: center;
    padding: 2px;
    background-color: blanchedalmond;
}